* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.container {
  display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	margin-top: 50px;
}
.note-area {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whiteaqua;
	width: 400px;
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.title {
	width: 100%;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}

.notes {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.note {
	display: flex;
	align-items: center;
	margin-top: 12px;
	width: fit-content;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

li {
	list-style: none;
}

button {
	margin-left: 10px;
	padding: 5px 10px;
}
.clear button {
background: red;
padding: 10px;
border-radius: 10px;
border: none;
width: 100px;
}

/* mobile  */
@media(max-width: 500px) {
	.note-area {
		width: 100%;
	}
	.notes {
		grid-template-columns: 1fr;
	}
}